# Custom Settings for testing purposes
# ------------------------------------------------
# can archers run and shoot?
#
ArchersCanMove=false;
# ------------------------------------------------
# StamBlock on?
#
StamBlock=false
# ------------------------------------------------
# Can mobs walk thoough objects such as chests
#
MobsPassThroughObjects=true
# ------------------------------------------------
# Mobs emote power words 
#
MobsEmotePowerWords=false
# ------------------------------------------------
# Staff get karma titles 
# staff can be lord, lady etc
#
StaffKarmaTitles=true
# ------------------------------------------------
# Turn to face everything targetted
#
TurnToFace=true
# ------------------------------------------------
# Instant Attack Guards
# if false, mobs need to call guards or for guards
# to be idling (imo better)
#
InstantGuards=false
# ------------------------------------------------
