# Custom Settings for testing purposes
# ------------------------------------------------
# can archers run and shoot?
#
ArchersCanMove=false;
# ------------------------------------------------
# Does running into a player affect stam
#
StamBlock=False
# ------------------------------------------------
# Can mobs walk thoough objects such as chests
#
MobsPassThroughObjects=true
# ------------------------------------------------
# Mobs emote power words 
#
MobsEmotePowerWords=false
# ------------------------------------------------
# Scrolls use half mana 
#
ScrollsUseHalfMana=false
# ------------------------------------------------
# Staff get karma titles 
#
StaffKarmaTitles=true
# ------------------------------------------------
# Turn to face everything targetted
#
TurnToFace=true
# ------------------------------------------------
