# Custom Settings for Power Hour
# ------------------------------------------------
# Enabled?
#
PowerHourEnabled=true
PowerHourStaffEnabled=true
# ------------------------------------------------
# Duration(minutes)
# 
PowerHourDuration=60.0
PowerHourDelay=300.0
#
# Delay new chars have to wait for their first 
# powerhour (minutes)
#
PowerHourDelayInit=30.0
# ------------------------------------------------
# Gain when active in %
#
PowerHourGainFactor=130.0
# ------------------------------------------------
# Fast Gain System
# Gives an additional exponential bonus to gain,
# Multiplier(default 500)% bonus at skill value
# 0 dropping to no bonus at skill value 90
#
PowerHourFastGain=false
PowerHourFastGainMultiplier=500.0
# ------------------------------------------------
